.example-card {
  margin: 10px
}

mat-card:hover  {
  box-shadow: 0 20px 20px -3px rgba(0,0,0,.6), 0 17px 20px 1px rgba(0,0,0,.16), 0 3px 14px 10px rgba(0,0,0,.16);
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
