<mat-card>
  <div class="d-flex">
    <div class="afisha">
      Я АФИША
    </div>
    <div class="page-body">
      <h1>Название</h1>
      <div>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the
          Shiba Inu was originally
          bred for hunting.
        </p>
      </div>
    </div>
  </div>
</mat-card>

<app-rating-home></app-rating-home>
<app-comments-home></app-comments-home>
